%form.pure-form(action='/calendar/create' method='post')
  %fieldset.pure-group
    %input#event-new-title.pure-input-1.pure-input-rounded(type='text' name='title' placeholder='Event title' required)
  %fieldset.pure-group
    %textarea.pure-input-1.pure-input-rounded(type='textarea' name='description' placeholder='Event description' rows='5')
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='text' name='location' placeholder='Location')

  %fieldset.pure-group
    %input#event-new-start-time.pure-input-1.pure-input-rounded(type='datetime-local' name='start_time' placeholder='Start time')
  %fieldset.pure-group
    %input#event-new-end-time.pure-input-1.pure-input-rounded(type='datetime-local' name='end_time' placeholder='End time')
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

  %button.pure-button.pure-input-1.pure-button-primary(type='submit')
    Create calendar item
