%script{ src: '/js/moment.min.js' }
%script{ src: '/js/fullcalendar.min.js' }
%link{ rel: 'stylesheet', href: '/css/fullcalendar.min.css' }

#calendar

#event-new.modal
  = haml :'calendar/event_form'

#event-show.modal
  = haml :'calendar/event_show', locals: {  }

:javascript
  $(function() {
    $('#calendar').fullCalendar({
      header: { center: 'month,agendaDay,basicWeek' },
      events: #{@events},

      eventClick: function(calEvent, jsEvent, view) {
        $('#event-show').modal();
        $('#event-title').text(calEvent.title);
        $('#event-description').text(calEvent.description);
        $('#event-location').html(calEvent.location);
        $('#event-time').text(calEvent.timeStr);
        $('#event-url').html(calEvent.eventUrl);
      },

      dayClick: function(data) {
        // hack to hide button that overlaps with modal
        $('.fc-button-group button').removeClass('fc-state-active')

        var datetime = data.format();

        // append time if just a date was chosen
        if(!/T/.test(datetime)) { datetime += 'T12:00:00'; }

        console.log(datetime);

        // pop open modal, set date based on selection
        $('#event-new').modal();
        $('#event-new-start-time').val(datetime);
        $('#event-new-end-time').val(datetime);
      }

    })
  });
