.flash-message-success {
    display: block;
    color: #267326;
    font-size: .875em;
}

.flash-message-fail {
    display: block;
    color: #b30000;
    font-size: .875em;
}


/* ------------------------------------------------------------------ */
/*  Calendar formatting stuff */

.date-card body { font-family: Verdana, sans-serif; }

.date-card {
    display: inline-block;
    border-radius: 10%;
}

.date-card .month {
    padding: 20px;
    border-radius: 10%;
    font-size: 1.2em;
    background: #f2d1cd;
    text-align: center;
}

.date-card .year {
    padding: 10%;
    font-size: 2.2em;
    text-align: center;
}

/* ------------------------------------------------------------------ */
/*  Event formatting stuff */
