%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th Name
      %th Description

  %tbody#groups-index
    - @groups.each do |group|
      %tr
        %td&= group.name
        %td&= group.description

