%a{ href: '/event/new' }

%form.pure-form(action='/event/new')
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")
  %button.pure-button(type='submit') New Event

%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th
      %th

  %tbody#groups-index
    - @events.each do |event|
      %tr
        %td
          %a{ href: "/events/#{event.event_url}" }
            %img{ src: event.banner_url, width: '150px' }

        %td
          %a{ href: "/events/#{event.event_url}" }
            &= event.title
          %br
          = format_datetime(event.start_time, event.end_time)

