%form.pure-form(action='/calendar/add_event' method='post')
  %input(type='hidden' name='event_id' value="#{@event.id}")
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

  %button.pure-button(type='submit' style='float:right;')
    %img{ src: '/icons/plus-circle.svg', width: 20 }
    %img{ src: '/icons/calendar.svg', width: 20 }


%p
  %img{ src: @event.banner_url, width: '60%' }

%h1= @event.title

.pure-g
  .pure-u-1-4
    = haml :'partials/date_card', locals: date_card_opts(@event.start_time)

  .pure-u-3-4
    %b= "Where: "
    &= @event.location
    %br
    %b= "When: "
    = format_datetime(@event.start_time, @event.end_time)

%p&= @event.description

