%h3 Import Vcard contacts file (.vcf file)
%form.pure-form(action='/contacts/import' method='post' enctype='multipart/form-data')
  %input.pure-input-1-1.pure-input-rounded(type='file' name='file')
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

  %button.pure-button.pure-input-2-2.pure-button-primary(type='submit')
    Import
