#contacts-notify.modal
  = haml :'contacts/notify'

#contacts-send-sms.modal
  = haml :'contacts/send_sms'

#contacts-import.modal
  = haml :'contacts/import'

%button#contacts-notify-b.pure-button.pure-input-2-2.pure-button-primary(type='submit')
  Send Email

%button#contacts-send-sms-b.pure-button.pure-input-2-2.pure-button-primary(type='submit')
  Send SMS

%button#contacts-import-b.pure-button.pure-input-2-2.pure-button-primary(type='submit')
  Import Contacts

%table.pure-table.pure-table-bordered
  %thead
    %tr
      %th
      %th
      %th

  %tbody#contacts
    - @contacts.each do |contact|
      %tr
        %td
          %input(type='checkbox' name='select' value="#{contact.id}")

        %td
          &= contact.name
          %br

          %a{ href: "tel:#{contact.phone}" }
            &= contact.phone
          %br

          %a{ href: "mailto:#{contact.email}" }
            &= contact.email

        %td
          %a{ href: "/contacts/delete/#{contact.id}" }
            - name = contact.name.sub("'", '')
            %img{ src: '/icons/trash.svg', width: 20, onclick: "return confirm('Delete contact: #{name}?')" }

:javascript
  $(function() {
    var contact_ids = [];

    $('#contacts-notify-b').click(function() {
      $('#contacts-notify').modal();
    })

    $('#contacts-send-sms-b').click(function() {
      $('#contacts-send-sms').modal();
    })

    $('#contacts-import-b').click(function() {
      $('#contacts-import').modal();
    })

  })
