%form.pure-form
  %fieldset.pure-group
    %input#notify-subject.pure-input-1-1.pure-input-rounded(type='text' name='subject' placeholder='Subject')
  %fieldset.pure-group
    %textarea#notify-body.pure-input-1-1.pure-input-rounded(type='textarea' name='body' placeholder='Body' rows=5 required)
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

  %button#notify-submit.pure-button.pure-input-2-2.pure-button-primary(type='submit')
    Send Email

:javascript
  $(function() {
    $('#notify-submit').click(function() {
      var contact_ids =  $('#contacts input:checked').map(function(){
        return $(this).val();
      }).get();

      $.post( "/contacts/notify", {
        subject: $('#notify-subject').val(),
        body: $('#notify-body').val(),
        contact_ids: contact_ids
      })
    })
  })

