%form.pure-form
  %fieldset.pure-group
    %textarea#sms-body.pure-input-1-1.pure-input-rounded(type='textarea' name='body' placeholder='Body' rows=5 required)
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

  %button#sms-submit.pure-button.pure-input-2-2.pure-button-primary(type='submit')
    Send Text

:javascript
  $(function() {
    $('#sms-submit').click(function() {
      var contact_ids =  $('#contacts input:checked').map(function(){
        return $(this).val();
      }).get();

      $.post( "/contacts/send_sms", {
        body: $('#sms-body').val(),
        contact_ids: contact_ids
      })
    })
  })

