!!! 5

%html{ lang: 'en' }
  %head
    %title
      OrgHub
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %link{ rel: 'stylesheet', href: '/css/pure-min.css' }
    %link{ rel: 'stylesheet', href: '/css/side-menu.css' }
    %link{ rel: 'stylesheet', href: '/css/custom.css' }
    %link{ rel: 'stylesheet', href: '/css/jquery.modal.min.css' }
    %script{ src: '/js/jquery.min.js' }
    %script{ src: '/js/jquery.modal.min.js' }

  %body
    %div#app
      = haml :'navigation'

      %div#main
        %div.header
          %h2= @page_title if @page_title

        %div.content
          - if session[:flash_message]
            %div{ class: session[:flash_message_type] }
              = session[:flash_message]
            - flash_message_clear

          = yield

  %footer
    %script{ src: '/js/ui.js' }
