%h2 Login

%form.pure-form(action='/login' method='post')
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='email' name='email' placeholder='Email')
  %fieldset.pure-group
    %input.pure-input-1.pure-input-rounded(type='password' name='password' placeholder='Password')
  %input(type='hidden' name='authenticity_token' value="#{session[:csrf]}")

  %button.pure-button.pure-input-1.pure-button-primary(type='submit')
    Sign In
